<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Save Employee</title>
</head>
<body>
<div class="container">
    <h3>Employee Directory</h3>
    <hr>
    <p class="h4 mb-4">Save Employee</p>
    <form action="#" th:action="@{/employees/saveEmployee}" th:object="${employee}" method="post">
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</span>
        <input type="text" th:field="*{firstName}" name="firstName" class="form-control mb-4 col-4" placeholder="First Name"/>
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
        <input type="text" th:field="*{lastName}" class="form-control mb-4 col-4" placeholder="Last Name"/>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        <input type="text" th:field="*{email}" class="form-control mb-4 col-4" placeholder="Email"/>
        <br>
        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>
    <hr>
    <a th:href="@{/employees/list}">Back to Employees List</a>
</div>

</body>
</html>